*{
    margin: 0px;
    padding: 0px;
}
P.title{
    font-family: 'whas';
 font-size:20px;
  }
.responsivoCss{
    position: relative;
    width: 1350px;
    margin: 0px auto;
    height: 500px;
}
article#conteudo{
    background-color: #fffefe;
    border-radius: 10px;
     width: 57em;
     
  }
  #texto2{
    display: table-cell;
    float: left;
    width: 50%; 
   margin-left: 30px;
   padding-bottom: 2em;
   
  }
  .videos{
    background-color: lightslategray;
    width: 60%;
    margin-left: 100px;
    border: none; 
    border-radius: 30px;
    box-shadow: black 5px 5px 4px;
    padding-left: 30px;
  }
  .slider img{
    position: relative;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    margin-bottom:-5px; 
}

.radio-buttons {
    position: absolute;
    bottom: 5px;
    left: 170px;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}