*{
    margin: 0px;
    padding: 0px;
}
P.title{
    font-family: 'whas';
 font-size:2em;
  }
.responsivoCss{
    position: relative;
    width: 600px;
    margin: 0px auto;
    height: 80em;
}
article#conteudo{
    background-color: #fffefe;
    border-radius: 10px;
     width: 33em;
  }
  .noticia{
    width: 900px;
}
#di{
    width: 33em;
    height:35em; 
    border-radius: 10px;
    margin-bottom: -4px;
  }
#texto2{
    display: table-cell;
    float: left;
    width: 90%; 
   margin-left: 30px;
   padding-bottom: 2em;
   
  }
  /* parte ricardo */
  video.video{
    width: 600px;
    height: 500px;
  }

  .videos{
    background-color: lightslategray;
    width: 60%;
    margin-left: 0px;
    border: none; 
    border-radius: 30px;
    box-shadow: black 5px 5px 4px;
    padding-left: 30px;
  }
  .slider img{
    position: relative;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    margin-bottom:-5px; 
}

.radio-buttons {
    position: absolute;
    bottom: 5px;
    left: 250px;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.magic{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	color: #06c2f18a;
	background-image: url(../css/water.png);
	-webkit-background-clip:text;
	animation: water 25s infinite;
}
@keyframes water {
	from{
		background-position: left 0 top -2em;
	}
	to{
		background-position: left 1000px top 0;
	}
}
